@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(131deg, #fee4cf 26.82%, #ffd8ea 96.89%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.pending-animation {
  position: relative;
  color: transparent !important;
  pointer-events: none;
  opacity: 0.5;

  & span {
    visibility: hidden;
    opacity: 0;
  }

  & svg {
    visibility: hidden;
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: #171717;
    border-left-color: #171717;
    border-right-color: #171717;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.pending-animation-white {
  position: relative;
  color: transparent !important;
  pointer-events: none;
  opacity: 0.5;

  & span {
    visibility: hidden;
    opacity: 0;
  }

  & svg {
    visibility: hidden;
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

/* @layer utilities {
  .animate-spin {
    animation: spin 1s linear infinite;
  }
} */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar::-webkit-scrollbar {
  width: 4px; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 4px; 
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.custom-line-clamp {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.tooltip-line-clamp {
  width: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.custom-input {
  @apply px-8 py-3 outline-none rounded-lg border border-neutral-100 focus:ring-0 focus:border-neutral-900 placeholder-neutral-300 font-medium transition duration-200;
}

.custom-label {
  @apply block mb-3 text-neutral-600 font-medium tracking-tight;
}
